.listo{
    display: grid;
    justify-items: center;
    gap: 20px;
    text-align: center;
    width: 70%;
}
.listo h2{
    color: #001A49;
    font-size: 2em;
}
.listo button{
    background-color: #2091F9;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
@media(width <= 500px){
    .listo{
        width: 90%;
    }
}