.nosotrosContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  border-radius: 23px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 40px 62px !important;
}
.nosotrosTxt {
  width: 45%;
}
.nosotrosTxt h2 {
  font-size: 42px;
  font-weight: 500;
}
.nosotrosTxt p {
  margin: 23px 0;
}
.nosotrosTxt a {
  display: inline-block;
  border-radius: 20px;
  color: white;
  background-color: #191a23;
  padding: 23px;
}
.nosotrosImg {
  width: 45%;
}
.nosotrosImg svg {
  width: 100%;
  height: auto;
  fill: #000;
}
@media (width <= 900px){
    .nosotrosContainer {
      flex-direction: column;
    }
    .nosotrosTxt {
      width: 100%;
    }
    .nosotrosImg {
      width: 80%;
    }
}
@media (width <= 500px){
    .nosotrosContainer {
      padding: 40px 30px !important;
    }
    .nosotrosTxt h2 {
      font-size: 32px;
    }
    .nosotrosTxt a{
      width: 100%;
      text-align: center;
    }
    .nosotrosImg{
        display: none;
    }
}