.audiovisualesContainer{
    display: flex;
    padding: 60px 0;
}
.audiovisualesItem{
    text-align: center;
    width: 25%;
}
.audiovisualesItem video{
    width: 90%;
}
.audiovisualesItem img{
    width: 90%;
}
.audiovisualesItem p{
    margin: 20px;
    font-weight: 800;
}
@media(width <= 650px){
    .audiovisualesContainer{
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }
    .audiovisualesItem{
        width: 90%;
    }
    .audiovisualesItem img, .audiovisualesItem video{
        width: 80%;
    }
}