footer{
    background-color: #414141;
    position: relative;
    bottom: 0;
}
footer h2{
    text-align: center;
    color: #ccc;
    margin-top: 20px;
    padding-bottom: 20px;
}
.footerContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    padding: 60px;
    justify-items: center;
    border-bottom: 1px solid #ccc;
}
.footerItem{
    color: white;
    text-align: center;
}
.footerItem h3{
    border-bottom: 3px solid #af20d3;
    margin-bottom: 10px;
}
@media(width <= 500px){
    .footerContainer{
        grid-template-columns: 1fr;
        gap: 23px;
    }
}