.hero{
    position: relative;
    background-image: linear-gradient(100deg, #000000, #00000020), url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
.txtHero{
    position: absolute;
    width: 300px;
    top: 40%;
    left: 10%;
}
.txtHero p{
    color: #c7a17a;
}
.txtHero h2{
    color: #fff;
    font-size: 35px;
    font-weight: 400;
}
.txtHero button{
    background-color: #c7a17a;
    color: white;
    width: 170px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
@media(width <= 300px){
    .txtHero, .txtHero button{
        width: auto;
    }
    .txtHero h2{
        font-size: 28px;
    }
}